@import url("../styles/global.css");
main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
}
section {
    width: 44%;
   
}

.form-container {
    border: 1px solid cyan;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
}

.form-container> p {
    font-size: 16px;
    color: #8D8D99;
    margin-top: 22px;
    margin-bottom: 22px;
}

p {
    font-size:16px;
    color: #8D8D99;
    margin-top: 8px;
    margin-bottom: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid magenta;
    margin-top: 40px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid yellow;
}

img {
    width: 56%;
    height: 100%;
    object-fit: cover;
}
section {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}